
<div class="container-fluid" id="home-banner">
  <div class="container text-center">
    <div class="col-md-12">
      <h1>Welcome</h1>
      
      <p class="lead"><br>Create polls, share and vote</p>

    </div>
  </div>
</div>

<div class="container">
  
  <div class="col-md-12 text-center text-success">
    <h1>About Poll Voting.</h1>
  </div>
  
  <div class="col-md-4 col-sm-6 text-center">
    <div class="jumbotron">
      <i class="fa fa-border fa-5x fa-question-circle"></i>
      <p class="lead">You ask a question and get votes.</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <div class="jumbotron">
      <i class="fa fa-border fa-5x fa-list-ol"></i>
      <p class="lead">Add options to your poll for voting.</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <div class="jumbotron">
      <i class="fa fa-border fa-5x fa-check-square"></i>
      <p class="lead">You can vote on other peoples polls.</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <div class="jumbotron">
      <i class="fa fa-border fa-5x fa-plus-square"></i>
      <p class="lead">Add an option for a different answer.</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <div class="jumbotron">
      <i class="fa fa-border fa-5x fa-user"></i>
      <p class="lead">Log in to save your votes and polls.</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <div class="jumbotron">
      <i class="fa fa-border fa-5x fa-pie-chart"></i>
      <p class="lead">View results in chart and table format.</p>
    </div>
  </div>
  
  <div class="col-md-12 text-center text-success">
    <h1>Vote Here</h1>
  </div>
  
  <div class="col-md-12 bottom-div">
    
    <div class="btn-group btn-group-justified">
        <a href="#/polls" class="btn btn-success btn-lg btn-getstarted"><i class="fa fa-bar-chart"></i> View Polls</a>
        <a href="#/login" class="btn btn-success btn-lg btn-getstarted"><i class="fa fa-unlock-alt"></i> Log In</a>
    </div>
    
  </div>
  
</div>
