<div class="container">

  <div class="col-md-12">
    <h1>Your poll has been deleted.</h1>
    <div class="alert alert-warning" role="alert">
      <p class="text-muted"><b>System Message</b> That poll has seen better days</p>
    </div>
  </div>
  
  <div class="col-md-12">
        <div class="jumbotron text-center">
            <h3><i class="fa fa-trash"></i> Your poll has been deleted.</h3>
        </div>
  </div>

  
  <div class="col-md-12 text-center text-danger">
    <h3>Get your vote on...</h3>
  </div>

  <div class="col-md-12 bottom-div">
    
    <div class="btn-group btn-group-justified">
        <a href="#/polls" class="btn btn-danger btn-lg btn-getstarted"><i class="fa fa-bar-chart"></i> View Polls</a>
        <a href="#/add/poll" class="btn btn-danger btn-lg btn-getstarted"><i class="fa fa-plus-square"></i> Add Poll</a>
    </div>
    
  </div>

</div>