
<div class="container">
  
  <div class="col-md-12">
    <h1>Polls.</h1>
  </div>

  <div ng-if="loading">
      <div class="col-md-12">
            <div class="jumbotron text-center">
                <h3><i class="fa fa-refresh fa-5x fa-spin"></i><br>Loading Polls...</h3>
            </div>
      </div>
  </div>

  <div class="col-md-4" ng-repeat="poll in polls">
    <a href="#/poll/{{ poll.poll_id }}">
      <div class="well poll-title-well text-center">
        <i class="fa fa-5x fa-pie-chart"></i>
        <h3>{{ titleLength(poll.title) }}</h3>
      </div>
    </a>
  </div>


</div>